services:
  server:
    build:
      context: ./Server
      dockerfile: Dockerfile
    container_name: citizen-server
    ports:
      - "5004:5004"
    restart: unless-stopped

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: citizen-client
    ports:
      - "3000:80"
    depends_on:
      - server
    restart: unless-stopped
